body {
	background-color: #282726;
}

*{
	box-sizing: border-box;
}

h2 {
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #800000;
	border: 3px;
	border-radius: 10px;
	background-color: #A7414A;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

img {
	display: block;
	border-radius: 10px;

}

.column{
	float: left;
	padding: 10px;
	height: 300px;
}


.middle{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 10px;
	width: 20%;
	background-color: #A37C27;
	border: 3px solid #000000;
}
.left{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 10px;
	width: 25%;
	background-color: #563838;
	border: 3px solid #000000;
}
.right{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 10px;
	width: 55%;
	background-color: #6A8A82;
	border: 3px solid #000000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}